@import "tailwindcss";


/* body{
    background-color: bisque;
}


.to-do-list{
    width: 50%;
    margin: auto;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

h1{
    text-align: center;
    color: white;
}

button{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;

}


.add-button{
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.add-button:hover{
    background-color: #3e8e41;
}


.delete-button{
    background-color: #f44336;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}


.delete-button:hover{
    background-color: #d32f2f;
}

.update-button{
    background-color: #2196F3;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.update-button:hover{
    background-color: #1976d2;
}


.mark-button{
    background-color: #21f375;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.mark-button:hover{
    background-color: #044f3b;
} */
